*{margin:0; border:0; padding:0;}
img{border:0;}a{color:#e14012; text-decoration:underline;}ul,li{list-style-type:none;}
.fl{float:left;}.auto{margin:0 auto;}.fr{float:right;}.cl{clear:both;}.pa{padding:5% 8%;}
.page_wrap{max-width:640px;min-width:320px;width:100%;color:#666666;font-family:"Microsoft YaHei";margin:0 auto;}
.tit{line-height:2.2em;font-size:1.25em;color:#7e240a; font-weight:bold; border-bottom: text-align:center; margin-top:2%; padding-left:9%; border-bottom:5px solid #dbdbdb;}
.tit img{vertical-align:text-bottom;}
.s1{text-align:center;}
.s1 ul li{float:left; width:50%; margin-bottom:5%;}
.s1 p{font-size:1.1em; padding-bottom:5%;}.s1 p font{color:#e14012;}
.s1 a{display:block; line-height:2.3em; color:#e14012; border:2px solid #e14012; width:80%; margin:0 auto; text-decoration:none; font-size:1.1em;}
.s2 .s2s{display:block; color:#000; text-align:center; font-size:1.1em; padding-bottom:5%;}
.s2 #myTab0 li{width:33%; float:left; text-align:center;}
.s2 #myTab0 li a{display:block; line-height:3em; width:90%; color:#FFF; font-size:1.1em; background:#b2b2b2; text-decoration:none;}
.s2 #myTab0 li.active a{display:block; line-height:3em; width:90%; color:#FFF; font-size:1.1em; background:#e14012;}
.s2 .tab_nr{width:100%; padding-top:5%;}
.s2 .tab_nr b{display:block; font-weight:normal; text-align:center; color:#e14012; padding-bottom:5%; font-size:1.1em;}
.s2 .tab_nr p{padding-left:35%; line-height:1.8em;}.s2 .tab_nr p img{margin-right:2%;}
.s3 #myTab1 li{width:50%; float:left; text-align:center;}
.s3 #myTab1 li a{display:block; line-height:3em; width:90%; color:#FFF; font-size:1.1em; background:#b2b2b2; text-decoration:none;}
.s3 #myTab1 li.active a{display:block; line-height:3em; width:90%; color:#FFF; font-size:1.1em; background:#e14012;}
.s3 .tab1_nr{padding:5% 0 5% 0;}
.s3 .tab1_nr .tab1_a p{text-indent:2em; width:53%; float:left;}
.s3 .tab1_nr .tab1_b{padding:5% 0 5% 0;}
.s3 .tab1_nr .tab1_b strong{color:#e14012; font-weight:normal; text-align:left; margin-top:5%; padding-bottom:5%; display:block;}
.s3 .tab1_nr .tab1_b p{border-bottom:1px dashed #666666; padding-bottom:3%;}
.s3 .tab1_nr .tab1_c{text-align:center; line-height:1.8em; width:100%;}
.s3 .tab1_nr .tab1_d a{display:block; width:45%; line-height:2.3em; text-align:center; text-decoration:none; margin-top:5%;}
.s3 .tab1_nr .tab1_e a{display:block; width:45%; line-height:2.3em; text-align:center; text-decoration:none; margin-top:5%; color:#FFF;}
.s4 .s4a{text-indent:2em; line-height:1.6em;}
.s4 .s4b{padding-top:5%; line-height:1.6em;}
.s4 .s4b strong{color:#e14012; font-size:1.1em;}.s4 .s4b b{color:#e14012;}
.s4 .s4c a{display:block; width:45%; line-height:2.3em; text-align:center; text-decoration:none; margin-top:5%;}

@media screen and (min-width:320px) {
	.page_wrap {font-size:14px}}
@media screen and (min-width:480px) {
	.page_wrap {font-size:16px}}
@media screen and (min-width:640px) {
	.page_wrap {font-size:24px}}